@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --inter: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-image: url("images/Base.png");
    background-size: cover;
    position: relative;
}

input {
    padding-left: 0;
}

.header{
background-color: #634932;
/* border: 5px solid blue; */
margin-top: 0px;
margin-left: 0px;
height: 9vh;
display: flex;
justify-content: center;
align-items: center;
position: sticky;
}

.kotak-logo{
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content:center;
    width: 5vw;

}

.gambar-logo {
    margin-top: 4px;
    width: 6vw;
    height: 6vh;
}

.kotak-signin{
    /* border: 5px solid blue; */
    background-color: #DBC0AB;
    border-radius: 100px;
    position: absolute;
    width: 12vw;
    height : 5vh;
    right: 3%;
    /* height: 7vhh; */
    text-align: center;
    font-size: 20px;
    /* padding-top: 3px; */
    margin-left: 0px;
    box-shadow: 2px 3px 4px rgb(0 0 0 / 0.5 );
}

.kotak-signin:hover{
    background: #967258 ;
    /* mix-blend-mode: color-dodge; */
    opacity: 0.9;
}

.tulis-signin{
    padding-top: 8px;
    font-family: var(--inter);
    font-size: 16px;
    color: black;
    /* font-style: italic; */
}

.font-signin{
    color: white;
    font-size: 50px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    font-family: var(--inter);
}

.kotak-username{
    /* border: 5px solid blue; */
    background-color: #000000;
    display: flex;
    position: relative;
    border-radius: 10px;
    /* justify-content: center;
    align-items: center; */
    margin-top: 30px;
    width: 25vw;
    height: 7vh;
}

.tulis-username{
    display: inline;
    position: relative;
    margin-left: 15px;
    padding-left: 8px;
    background-color: #000000;
    text-decoration: #DBC0AB;
    border: none;
    font-family: var(--inter);
}

.icon-person{
    display: flex;
    position: relative;
    margin-left: 24px;
    width: 28px;
}

.kotak-username{
    /* border: 5px solid blue; */
    background-color: #000000;
    display: flex;
    position: relative;
    border-radius: 10px;
    /* justify-content: center;
    align-items: center; */
    margin-top: 30px;
    width: 25vw;
    height: 7vh;
}

.kotak-username input{
    color: aliceblue;
    width: 20vw;
    border-radius: 10px;
    font-family: var(--inter);
    outline-color: none;
    outline-style: none;
    outline:none;
}

.kotak-username:focus{
    outline-color: none;
    outline-style: none;
    outline:none;
}

.kotak-email{
    /* border: 5px solid blue; */
    background-color: #000000;
    display: flex;
    position: relative;
    border-radius: 10px;
    /* justify-content: center;
    align-items: center; */
    margin-top: 15px;
    width: 25vw;
    height: 7vh;
}

.kotak-email input{
    color: aliceblue;
    width: 20vw;
    border-radius: 10px;
    font-family: var(--inter);
    outline: none;
}

.kotak-email:focus{
    outline-color: none;
    outline-style: none;
    outline:none;
    border: none;
}

.icon-email{
    display: flex;
    position: relative;
    margin-left: 22px;
    width: 28px;
}

.tulis-email{
    display: inline;
    position: relative;
    margin-left: 15px;
    padding-left: 8px;
    background-color: #000000;
    text-decoration: #DBC0AB;
    border: none;
    font-family: var(--inter);
}


.kotak-password{
    /* border: 5px solid blue; */
    background-color: #000000;
    display: flex;
    position: relative;
    /* justify-content: center;
    align-items: center; */
    margin-top: 10px;
    width: 25vw;
    height: 7vh;
    border-radius: 10px;
}

.icon-password{
    display: flex;
    position: relative;
    margin-left: 25px;
    width: 16px;
    margin-top: 2px;
}

.tulis-password{
    display: inline;
    position: relative;
    margin-left: 25px;
    padding-left: 8px;
    background-color: #000000;
    text-decoration: #DBC0AB;
    border: none;
    font-family: var(--inter);
}

.kotak-password input {
    color: aliceblue;
    width: 25vw;
    border-radius: 10px;
    font-family: var(--inter);
    outline: none;
}   

.kotak-password:focus{
    outline: none;
}


.text-account{
    color: #FFFFFF;
    font-size: smaller;
    font-weight: 100;
    margin-top: 15px;
    font-family: var(--inter);
    font-weight: 300;
}

.text-account-2 a{
    color: #DBC0AB;
    font-family: var(--inter);
    font-weight: 500;
}

.text-account-2:hover a{
    color: #DBC0AB;
    font-family: var(--inter);
    font-weight: 500;
    text-decoration: underline;
}

.terms-condition-box{
    /* border: 3px solid white; */
    width: 320px;
    height: 40px;
    display: flex;
    position: relative;
    margin-top: 10px;
    justify-content:first baseline;
    align-items: center;
    margin-left: 10px;
    margin-top: 18px;
    padding-top: 2px;
    margin-top: 3px;
    font-family: var(--inter);
    font-weight:lighter;

}

.checkbox{
    width: 30px;
    height: 15px;
}

.terms-condition-box{
    color: #FFFFFF;
    font-size: smaller;
    padding-top: 10px;
    /* padding-left: 5px; */
    font-family: var(--inter);
    font-weight: lighter;
    text-align: left;
    /* margin-left: 20px; */

}

.terms-condition-box p{
    font-weight: 300;
    margin-left: 8px;
}

.terms-condition-text{
    display: flex;
    position: relative;
    margin-top: 100px;
    color: #FFFFFF;
    font-weight: 500;
    padding-top: 20px;
    text-align: left;
    /* margin-left: 50px; */
    
}

.term-condition-text-2 a{
    color: #DBC0AB;
    font-family: var(--inter);
    font-weight: 500;
    
}


.tombol-create{
    /* border: 5px solid red; */
    margin-top: 30px;
    background-color: #DBC0AB;
    border-radius: 100px;
    width: 260px;
    height: 50px;
    text-align: center;
    position: relative;
    opacity: 0.6;
    font-family: var(--inter);
}

.tombol-create:hover{
    background: #DBC0AB ;
    /* mix-blend-mode: color-dodge; */
    opacity: 0.9;
}

.tulis-create{
    padding-top: 15px;
    font-size: 10;
    font-family: var(--inter);
}

.submit-createe{
    border: none;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 10;
    font-family: var(--inter);
    font-weight: bold   ;
    background-color: #DBC0AB;
    border-radius: 100px;
    width: 260px;
    height: 50px;
    text-align: center;
    position: relative;
    /* opacity: 0.6; */
    font-family: var(--inter);
}